fastapi
uvicorn
Pillow
python-multipart
numpy
torch
torchvision
timm
groq
langchain
langchain-core
langchain-community
langchain-groq
faiss-cpu
sentence-transformers
python-dotenv
langchain-huggingface
